<ion-view view-title={{pagetitle}}>
  <ion-content class="">

	<div style="width:100%; background-color:#efefef; text-align:center"> 
		<br/>
		<div >
			<img src="img/MolduraFoto.jpg" style="width:25vmin" ng-click="showConfirm()"> 
			<span style="right:0; top:0;position:absolute; padding-top:3vmin; padding-right:3vmin;">
			</span>
		</div>
		<br/>
		<span style="font-size: 5vmin;color:#fba919;"> Nome do veterinário </span>
		<br/>
		<span style="color:#777"> Especialidade </span>  
		<br/>
		<span style="color:#777"> Cidade, estado </span>
		<span id="tc"></span>
		<br/>
		<br/>	
	</div>
	<div class="center" >
		<br/>
		Selecione o dia e horário da sua consulta
		<br/>
		<div style="padding:10%">
			<button class="button button-block custom" type="button" ng-click="showConfirm()"> SOLICITAR AGENDAMENTO</button> 
		</div>
	</div>
	
		
	<!--{{tiposervico}} - {{codservico}} - {{medico}}-->
	<br/>
	
		
  </ion-content>
</ion-view>
