<ion-view view-title={{pagetitle}}>
  <ion-content class="">
	<div style="background-color:#efefef">
	<div style="width:100%; background-color:#efefef; text-align:center">
		</br>
		<!-- Alternative Style -->
		<div style="padding-left:5%; padding-right:5%">
			<img src="img/Breadcrumb.jpg" style="width:100%">
		</div>
		<br/>
		<div ng-click="fotocadastro()">			
			<img class="avatar" src="{{imgfoto}}" style="width:25vmin"> 
		</div>
	</div>
	<form name="myForm" ng-submit="salva()" style="background-color:#efefef">
	  <div class="" style="padding-left:10%; padding-right:10%">
		<button class="button button-block custom" type="button" ng-click="fotocadastro()">ESCOLHER FOTO</button>
		<label class="item item-input">
		  <input type="text" placeholder="Nome" ng-model="data.str_vet_nome" required> 
		</label>
			<!-- PLACEHOLDER do data não está bacaninha use do walter -->
		<label class="item item-input" ng-click="hidetitlenasc()" >
			<input type="text" placeholder="Data de nascimento" ng-hide="shownasc" ng-model="datetemp"> 
		  <input name="nasc" type="date" placeholder="01/01/01" ng-model="data.dt_vet_nascimento" ng-show="shownasc" required> 
			<i class="fa fa-calendar " style="color:#777"  ></i>&nbsp;&nbsp;&nbsp;
		</label>
		<label class="item item-input">
			<input type="number" placeholder="Celular" ng-model="data.str_vet_cellphone" required>
		</label>
		<label class="item item-input">
		  <input type="text" placeholder="e-mail" ng-model="data.str_vet_email" required>   
		</label>
		<label class="item item-input">
		  <input type="tel" placeholder="CPF" ng-model="data.str_vet_cpf" required> 
		</label>
		<label class="item item-input">
		  <input type="text" placeholder="BIO" ng-model="data.str_vet_bio" required> 
		</label>
		<label class="item item-input">
			<select class="select95a"  ng-model = "data.str_vet_crmvuf" required>
				<option>AC</option><option>AL</option><option>AP</option><option>AM</option><option>BA</option><option>CE</option><option>DF</option><option>ES</option><option>GO</option><option>MA</option><option>MT</option><option>MS</option><option>MG</option><option>PA</option><option>PB</option><option>PR</option><option>PE</option><option>PI</option><option>RJ</option><option>RN</option><option>RS</option><option>RO</option><option>RR</option><option>SC</option><option>SP</option><option>SE</option><option>TO</option>
			</select> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<input type="tel" style="/*max-width:50%;*/" placeholder="Número CMRV" ng-model="data.str_vet_crmv"  required>  
		</label>
		<label class="item item-input"> 
		  <select class="select95" id="spc" ng-model = "myspec" required >
			<option ng-repeat="esp in especs" >{{esp.str_spec_nome}}</option>
		  </select>
		</label>
		<label class="item item-input">
		  <input type="text" placeholder="Endereço" ng-model="data.str_vet_address"  required> 
		</label>
		<label class="item item-input">
		  <select class="select95a" ng-model = "data.str_vet_uf" required><option>AC</option><option>AL</option><option>AP</option><option>AM</option><option>BA</option><option>CE</option><option>DF</option><option>ES</option><option>GO</option><option>MA</option><option>MT</option><option>MS</option><option>MG</option><option>PA</option><option>PB</option><option>PR</option><option>PE</option><option>PI</option><option>RJ</option><option>RN</option><option>RS</option><option>RO</option><option>RR</option><option>SC</option><option>SP</option><option>SE</option><option>TO</option></select> 
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		  <input type="text" placeholder="Cidade" ng-model="data.str_vet_cidade" required> 
		</label>
		<label class="item item-input">
			<div style="width:100%; text-align:center">
			<div class="center"> Atendimento</div >
			<div class="range range-assertive" >0
				<input id="dist" id="slide" type="range" min="0" max="100" step="1" pin="true" ng-model="dist"> 100
			</div>
			<div class="center"> {{dist}} km </div >
			</div>
		</label>
		  <button class="button button-block custom" type="submit" ng-disabled="(!myForm.$valid||myForm.$error.required)">
		  <!--<button class="button button-block custom" ng-click="salva()" -->
		  SALVAR</button>
		<br/>
		<br/>
	  </div>
	</form>
	
	</div>
  </ion-content>
</ion-view>
