<ion-view view-title="Dados Bancários">
  <ion-content class="fundoCinza">
	<div style="background-color:#efefef">
	<div style="width:100%; background-color:#efefef; text-align:center">
		</br>
		<!-- Alternative Style -->
		<div style="padding-left:5%; padding-right:5%">
			<img src="img/Breadcrumb3.jpg" style="width:100%">
		</div>
	</div>
			<br/>
	<form name="myForm" ng-submit="doCadastro()" style="background-color:#efefef">
	  <div class="" style="padding-left:10%; padding-right:10%">
		<label class="item item-input">
		  <select class="select95" ng-model = "data.str_vet_banco" required>
			<option ng-repeat="bco in bancos" >{{bco.nome}}</option>
		  </select>		  
		</label>
		<label class="item item-input">
		  <input type="text" placeholder="Agência" ng-model="data.str_vet_agc" required> 
		</label>
		<label class="item item-input">
		  <input type="text" placeholder="Conta" ng-model="data.str_vet_cc" required> 
		</label>
		</br>
		  <button class="button button-block custom" type="submit" ng-click="finaliza()" ng-disabled="(!myForm.$valid||myForm.$error.required)">
		  FINALIZAR</button>
		<br/>
		<br/>
	  </div>
	</form>
	</div>
  </ion-content>
</ion-view>
