<ion-view view-title={{pagetitle}}>
  <ion-content class="cinza">
	<br/>
		<div class="row" style="text-align:center; padding:10%">
			<div class="col" >
				<a href="#/app/{{url}}/0" class="noline">
					<div>
					<img src="img/CaesIcone.jpg" style="width:25vmin"><br/> 
					</div>
				</a>
					Cães
			</div>
			<div class="col " >
				<a href="#/app/{{url}}/1" class="noline">
					<div>
					<img src="img/gatosIcone.jpg" style="width:25vmin"> <br/> 
					</div>
				</a>
					Gatos
			</div>
		</div>
		
  </ion-content>
</ion-view>
