<ion-view view-title={{pagetitle}}> 
  
  <ion-content class="">
	<div class="list" >
		<a class="item item-icon-right center" href="#/app/atend/exames/1">Urina
			<span style="color:#999"> <i class="icon ion-ios-arrow-right"></i> </span>
		</a>
		<a class="item item-icon-right center" href="#/app/atend/exames/2">Fezes
			<span style="color:#999"> <i class="icon ion-ios-arrow-right"></i> </span>
		</a>
		<a class="item item-icon-right center" href="#/app/atend/exames/3">Sangue
			<span style="color:#999"> <i class="icon ion-ios-arrow-right"></i> </span>
		</a>
		<a class="item item-icon-right center" href="#/app/atend/exames/4">Raspado de Pele
			<span style="color:#999"> <i class="icon ion-ios-arrow-right"></i> </span>
		</a>
	</div>	
    
	<br/>
		
		
  </ion-content>
</ion-view>
