<ion-side-menus enable-menu-with-back-views="false" ng-controller="menuCtrl" data-ng-init="home()"> 
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button> </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"> </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"> </ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="300">
    <ion-header-bar class="bar-stable"> <h1 class="title">Menu</h1> </ion-header-bar>
    <ion-content class=" custom "> 
        <div style="background: linear-gradient(white 50%, #ff9500 50%); height: 65vw; z-index: -1; text-align: center;">
        <div style="position: relative;">
        <div style="height: 7.5vw"></div>
		  <a menu-close href="#/app/perfil">
			<img src="{{foto}}" class="avatar" style="width: 50vw; height: 50vw"> 
			<span style="right:0; top:0;position:absolute; padding-top:3vmin; padding-right:3vmin;">
			</span>
		</a>
		</div>
<span style="font-size: 5vmin;color:white"> {{nome}}</span>
    <br>
		<span style="color:#5b5b5b"> {{end}} </span>
    </div>
      <div style="height: 7.5vw" ></div>

      <div style="padding: 0 5vw 0 5vw">
	
      <ion-list class="stable" >
        <ion-item menu-close href="#/app/home" >
          Home
        </ion-item>
		
        <ion-item  menu-close href="#/app/arealizar"  >
          Atendimentos a realizar
        </ion-item>
        <ion-item  menu-close href="#/app/urgentes"  >
          Atendimentos urgentes
        </ion-item>


<!--		
        <ion-item menu-close href="#/app/pendentes" class="">  
          Atendimentos Pendentes  <span ng-show="aconfirmar" class="badge badge-assertive f25" >{{qtde}}</span>
        </ion-item>

        <ion-item menu-close href="#/app/financ">
          Relatório Financeiro
        </ion-item>
		
        <ion-item menu-close href="#/app/transferencia">
          Solicitar Transferência
        </ion-item>
--> 
        <ion-item menu-close href="#/app/calendar">
          Atualizar Agenda
        </ion-item>
		
        <!--<ion-item menu-close href="#/app/entrar" >-->
        <ion-item menu-close ng-click="logout()">
			  <i class="fa fa-sign-out fa-flip-horizontal" aria-hidden="true"></i>
           Sair
        </ion-item>
		
      </ion-list>
    </div>
	  
	  
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
